*{
    box-sizing: border-box;
  }
  
  body{
    background-color: #222;
    color: #fff;
  }
  
  form{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  }
  
  input{
    border: 1px solid #555;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    color: white;
  }
  
  .bubble{
    border-radius: 20px;
    background-color: #c31616;
    margin: 4px;
    padding: 5px 10px;
    display: inline-block;
  }
  
  .mine {
    text-align: right;
  }
  
  .mine .bubble {
    background-color: #07c ;
  }

  theirs{
    background-color: #c31616;
  }